@import "bootstrap";

$theme: #33CC33;

@mixin placeholder {
	&::-webkit-input-placeholder {@content}
	&:-moz-placeholder {@content}
	&::-moz-placeholder {@content}
	&:-ms-input-placeholder {@content}
}

@mixin border-radius($values) {
	-moz-border-radius: $values;
	-webkit-border-radius: $values;
	border-radius: $values;
}

@mixin appearance($value) {
	-webkit-appearance: $value;
	-moz-appearance: $value;
	appearance: $value;
}

.spacer {
	margin: 10px 0 0 0;
}

.word-wrap {
	word-break: break-all;
}

textarea {
	padding: 20px;
	display: block;
	margin: 0 auto;
	border: none;
	width: 100%;
	@include border-radius(50px 0 50px 0);
	min-height: 200px;
	background-color: #E9E9E9;
	@include transition(all ease-out 0.1s);
	&:focus {
		outline: none;
		background-color: lighten($theme,20%);
		@include placeholder {
			color: #FFF;
			opacity: 1;
		}
		@include transition(all ease-out 0.1s);
	}
}

@mixin btn($name,$colour) {
	.btn-#{$name} {
		background-color: $colour;
		color: #FFF;
		&:hover {
			background-color: lighten($colour, 10%);
		}
		&:active {
			background-color: $colour;
			outline: none;
		}
	}
}

@include btn('red', #FF6666);
@include btn('green', #BADA55);
@include btn('blue', #33B5E5);

.round-sm {
	@include border-radius(2px);
}

.btn-large {
	padding: 10px 20px;
	&:active {
		padding: 8px 18px;
		margin: 2px 0 0 2px;
	}
}

.btn-blank {
	@include appearance(none);
	border: none;
}

.title {
	h1, p {
		display: inline-block;
	}
	p {
		margin-left: 30px;
		font-style: italic;
	}
}

.radio-wrapper {
	display: inline-block;
	&:not(.first) {
		margin-left: 10px;
	}
	max-width: 200px;
	position: relative;
}

@media (max-width: 1200px) {

	.radio-wrapper:not(.first) {
		margin: 5px 0;
	}

}

.radio-label {
	margin: 0;
	font-weight: 300;
	padding: 5px;
	min-height: 110px;
	vertical-align: top;
}

.radio-button {
	position: absolute;
	top: 0;
	left: 0;
	opacity: 0;
	z-index: 100;
	+ label {
		position: relative;
		background-color: #E9E9E9;
		@include transition(all ease-out 0.2s);
		top: 0;
		left: 0;
	}
	&:checked + label {
		color: #FFF;
		background-color: #646464;
		@include box-shadow(5px 5px 5px 0 grey);
		@include transition(all ease-out 0.2s);
		position: relative;
		top: -5px;
		left: -5px;
	}
}

input[type="text"].large {
	@extend textarea;
	min-height: 0;
	padding: 0 0 0 10px;
	@include border-radius(0);
}

#clearbutton {
	background-color: #FF3232;
	text-align: center;
	color: white;
	height: 20px;
	@include transition(height ease-out 0.2s);
	&:active {
		background-color: darken(#FF3232,30%);
	}
	&.hide {
		display: block !important;
		@include transition(height ease-out 0.2s);
		font-size: 0;
		height: 0;
	}
}
